<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <header>
        <h2>Delivery Detail</h2>
        <button><a href="{% url 'dashboard' %}">Wroc</a></button>
        {% if request.user == delivery_offer.owner and delivery_offer.is_active %}
        <button><a href="{% url 'delivery-offer-modify' delivery_offer.pk %}">Zmien Dane</a></button>
        <button><a href="{% url 'delivery-offer-delete' delivery_offer.pk %}">Usun</a></button>
        {% endif %}

        <br>
        Status: {% if delivery_offer.is_active %}Aktywne{% else %}Zakonczone{% endif %}
    </header>

    <ul>
        <li>
            <p><h3>Zleceniodawca: {{ delivery_offer.owner.username }}</h3></p>
            <p>Nazwa: {{ delivery_offer.name }}</p>
            <p>Dystans: {{ delivery_offer.distance }}</p>
            <p>Cena: {{ delivery_offer.wage }}</p>

            <h3>Miejsce Zaladunku</h3>
                <p>Miasto: {{ delivery_offer.delivery_info.city_from }}</p>
                <p>Ulica: {{ delivery_offer.delivery_info.street_from }} {{ delivery_offer.delivery_info.street_from_number }}</p>

            <h3>Miejsce Docelowe</h3>
                <p>Miasto: {{ delivery_offer.delivery_info.city_to }}</p>
                <p>Ulica: {{ delivery_offer.delivery_info.street_to }} {{ delivery_offer.delivery_info.street_to_number }}</p>

            {% if delivery_offer.description %}
                <h4>Opis zlecenia</h4>
                <p>{{ delivery_offer.description }}</p>
            {% endif %}

            {% if delivery_offer.delivery_info.extras %}
                <h4>Szczegolowy opis miejsca załadunku/rozładunku</h4>
                <p>{{ delivery_offer.delivery_info.extras }}</p>
            {% endif %}
            <hr>
        </li>
    </ul>

    {% if delivery_offer.final_bid and delivery_offer.contractor %}
        <h3>Koniec licytacji</h3>
        <p>Zleceniobiorca: {{ delivery_offer.contractor.username }}</p>
        <p>Koszt uslugi: {{ delivery_offer.final_bid }}</p>
        <hr>
    {% endif %}

    {% if request.user != delivery_offer.owner and delivery_offer.is_active and request.user.is_authenticated %}
    <h2>Zloz oferte</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="number" step="0.01" name="bid">
    </form>
    <hr style="border: 3px cadetblue solid">
    {% endif %}

    {% if bids and delivery_offer.is_active%}
        <h3>Propozycje ofert</h3>
        <ul>
            {% for bid in bids %}
                <li>
                    <p>Uzytkownik: {{ bid.owner.username }}</p>
                    <p>Propozycja: {{ bid.value }}</p>
                </li>
                {% if request.user == delivery_offer.owner %}
                    <form method="POST" action="">
                    {% csrf_token %}
                        <button type="submit" name="final_bid" value="{{ bid.pk }}">Akceptuj oferte</button>
                    </form>
                {% endif %}
                <hr>
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>