<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <header>
        <h2>Modyfikuj zlecenie przewozu</h2>
        <button><a href="{% url 'delivery-offer-detail' delivery_offer.pk %}">Wroc</a></button>
    </header>

    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Nazwa" value="{{ delivery_offer.name }}">
        <p><textarea name="description" placeholder="Dodaj opis">{{ delivery_offer.description }}</textarea></p>
        <label>Cena przewozu: </label>
        <input type="number" step="0.01" name="wage" value="{{ delivery_offer.wage }}">
        <br>
        <label>Dystans</label>
        <input type="number" step="0.001" name="distance" value="{{ delivery_offer.distance }}">

        <p>
            Zaladunek
            <input type="text" name="city_from" placeholder="miasto" value="{{ delivery_offer.delivery_info.city_from }}">

            <input type="text" name="street_from" placeholder="ulica" value="{{ delivery_offer.delivery_info.street_from }}">

            <input type="number" name="street_from_number" placeholder="numer ulicy" value="{{ delivery_offer.delivery_info.street_from_number }}">
        </p>


        <p>
            Miejsce docelowe
            <input type="text" name="city_to" placeholder="miasto" value="{{ delivery_offer.delivery_info.city_to }}">


            <input type="text" name="street_to" placeholder="ulica" value="{{ delivery_offer.delivery_info.street_to }}">


            <input type="number" name="street_to_number" placeholder="numer ulicy" value="{{ delivery_offer.delivery_info.street_to_number }}">
        </p>

        Dodatkowe informacje dotyczace załadunku/rozładunku
        <p><textarea name="extras" placeholder="Dodatkowe informacje dotyczace zlecenia">{{ delivery_offer.delivery_info.extras }}</textarea></p>

        <input type="submit" value="Zapisz">
    </form>

</body>
</html>