<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {% if not request.user.is_authenticated %}
    <header>
        <h2>Zaloguj</h2>
    </header>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" action="">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Login">
        <input type="password" name="password" placeholder="Haslo">
        <input type="submit" value="Zaloguj">

    </form>
    <button><a href="/">Wroc</a></button>
    {% endif %}
</body>
</html>