<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <header>
        <h2>Notifications</h2>
        <button><a href="{% url 'dashboard' %}">Wroc</a></button>
        <hr>
    </header>


    {% if user.notification_set.all %}
        <ul>

        {% for notification in user.notification_set.all %}
            <li>{{ notification.title }}
                <button><a href="{% url 'user-notification-delete' notification.pk %}">Usun</a></button>
            </li>
        {% endfor %}
         </ul>

    {% else %}
        <h3>Brak Powiadomien.</h3>
    {% endif %}


</body>
</html>