<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <header>
        <h2>Chat</h2>
        <button><a href="{% url 'user-delivery-offers' %}">Wroc</a></button>
        <hr style="border: 3px cadetblue solid">
    </header>

    {% for message in delivery_offer.message_set.all %}
        <p>@{{ message.message_from }} {{ message.date|timesince }} ago</p>
        <p>{{ message.content }}</p>
        <hr>
    {% endfor %}

    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="content" placeholder="Wyslij wiadomosc">
    </form>

</body>
</html>