{% if request.user.is_authenticated %}

<div class="notification shadow">

    <p>Powiadomienia</p>

    {% if user.notification_set.all %}

        {% for notification in user.notification_set.all %}
        <div>

            <i class="fa-solid fa-message"></i>
            <span>{{ notification.title }}</span>
            <a href="{% url 'user-notification-delete' notification.pk %}">
            <i class="fa-solid fa-xmark"></i>
            </a>

        </div>
        {% endfor %}

    {% else %}

        <div id="empty">
            <span>Brak powiadomień</span>
        </div>

    {% endif %}

</div>

{% endif %}